
/* -- Start Css */
h2,p,h1,h3,h4,h5,small,label{
	color:red;
}
.signin {
	display:block;
}
.top-right{
	display:block;
}
.left-top{
	display:block;
}
.right-top{
	display:block;
}
body{
	background-image:url(../images/cartographer.png);
}
ul li{
	color:red
}
.loginform input[type="text"] {
   height: 10px;
   font-size: 8px;
   line-height: 10px;
}
.loginform input[type="password"] {
   height: 10px;
   font-size: 8px;
   line-height: 10px;
}
.signin{
	float:right;
	padding:20px;
	color:red;
}