
/* -- Start Css */
h2{
	color:black;
	font-family: Georgia,Serif;
	font-size: 24px;
}

p,h1,h3,h4,h5,small,label{
	color:black;
	font-family: tahoma, san-serif;
	font-size: 13px;
}
.sign-in h3,
.sign-in label,
.sign-in small,
.sign-in p{
	color:white;
}

.splash {
	z-index:1;
	background-image:url(../../../assets/images/splash_lead1.jpg);
	background-repeat:no-repeat;
}

.info {
	height:416px;
	float:left;
	bgcolor:#999999;

}

.cal {
	height:208px;
	bgcolor:#0199cc;
	float:right;
}

.photo {
	height:208px;
	bgcolor:#cccccc;
	float:right;

.top-right{
	display:block;
}
.left-top{
	display:block;
}
.right-top{
	display:block;
}

header{
	margin-top: 15px;
	margin-left: 15px;
}

body{
	background-image:url(../images/cartographer.png);
}

ul li{
	color:red
}

.footer {
	margin-left:15px;
}

.signin{
	float:right;
}

.sign-in{
	float:right;
	padding:20px;
	color:blue;
	z-index:2;
}  

.custom-combobox {
    position: relative;
    display: inline-block;
  }

  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
.athleteSports{
	border:2px;
}
#leaveTeam{
	padding:10px;!important
}
#inviteDialog{
	display:none;
}