
/* -- Start Css */
h2{
	color:white;
	font-family: Georgia,Serif;
	font-size: 24px;
}

p,h1,h3,h4,h5,small,label{
	color:white;
	font-family: tahoma, san-serif;
	font-size: 13px;
}


.splash {
	z-index:1;
	position: fixed;
}

.signin {
	position:absolute;
	float: right;
	z-index:2;
}
.top-right{
	display:block;
}
.left-top{
	display:block;
}
.right-top{
	display:block;
}

header{
	margin-top: 15px;
	margin-left: 15px;
}

body{
	background-image:url(../images/cartographer.png);
	color:white;
}

ul li{
	color:red
}

.footer {
	margin-left:15px;
}

.signin{
	float:right;
	padding:20px;
	color:blue;
}  

.custom-combobox {
    position: relative;
    display: inline-block;
  }

  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }