// Main Styles

@import 'helpers/mixins';

@import 'layout/header';

@import 'layout/footer';

@import 'components/buttons';

@import 'components/athlete-profile';

@import 'components/events';

@import 'pages/home-page';


// apply a natural box layout model to all elements
*, 
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  font-family: 'Lato', sans-serif;
}

body h1 {
  font-weight: 900;
}

body p {
  font-weight: 300;
}

ul li {
  color: #ff2518;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.custom-combobox {
 	display: inline-block;	
  position: relative;
}

.custom-combobox-toggle {
  margin-left: -1px;
  padding: 0;  
  position: absolute;
  top: 0;
  bottom: 0;
}

.custom-combobox-input {
  margin: 0;
  padding: .3em;
}
  
.athleteSports {
  border: 2px;
}

#leaveTeam {
  padding: 10px;
}

#inviteDialog {
  display: none;
}

#js-Invitations label {
  color: black;
}

.js-Notifications .athleteNotes {
	border: 1px solid black;
	border-radius: 9px;
}

.alreadyInvited h2,label{
	color: black;
}
.searchResult{
	float:left;
}
.searchResult a img{
	border: 1px solid black;
	background-color:#6495ed;
	max-width:100px;
	max-height:100px;
}