// athlete profile
		.athlete-profile__img {
				float: left;
				margin-right: 5%;
				width: 30%;
		
				img {
						height: auto;
						width: 100%;
				}
		}


.event__image {
		display: block;
		float: left;							
		width: 20%;
}

.event__image img {
		width: 100%;
}










