// events

.event {
	border: 1px solid #ded8d1;
	border-radius: 10px;
	clear:both;
	background-color: #ccffcc;
}
.event a:link {color: #0000ff; text-decoration: underline; }
.event a:active {color: #0000ff; text-decoration: underline; }
.event__image {
		display: block;
		float: left;							
		width: 20%;
}

.event__image img {
		width: 100%;
}
.event__content{
	display:block;
	float:left;
	clear:both;
}
.event__date{
	display:block;
	float:left;
	clear:both;
}
.event__title{
	display:block;
	clear:both;
}
