/* Footer */

.footer {
		clear: both;
		color: #eee;
		padding: 1em 0;
		width: 100%;
	.btn,
		p {
				margin: 10px;
		}
	.signin {
			float: right;
	    padding-top: 10px;
	    text-align: center;
	    width: 100px;

	}
}

